*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height:100%;
    background-color: #000000;
}

h1 {
    position: absolute;
    color: transparent;
    -webkit-text-stroke: 2px #14D5B3;
    font-size: 150px;
    cursor: default;
}
  
#left {
    width: 140px;
    height: 140px;
    cursor: pointer;
    transition: 0.5s;

}

#left:hover {
    transform: translateX(-30px);
    transform: translateY(-30px);
    
}

#right {
    width: 140px;
    height: 140px;
    cursor: pointer;
    transition: 0.5s;
}

#right:hover {
    transform: translateX(-30px);
    transform: translateY(-30px);
    
}

.carouserl {
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentbox {
    width: 700px;
    height: 750px;
    margin: 0px 200px;
}

.content {
    width: 700px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: end;
    
}

.img {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
    z-index: 4;
}

.dotsbox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.dots {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    margin-left: 20px;
    cursor: pointer;
    border: 2px solid #14D5B3;
    transition: 0.3s;
}

.active,
.dots:hover {
    background-color: #c0c0c0;
    /* border-radius: 0px; */
}

.stopbox {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
}

.stop {
    height: 80px;
    width: 80px;
    font-size: 40px;
    border-radius: 10px;
    letter-spacing: 10px;
    margin: 20px 0 0 30px;
    text-align: center;
    cursor: pointer;
}