*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    text-shadow: 10px 10px 1px #a06f6f;
}

body {
    height:100%;
    background-color: #000000;
}

h1 {
    position: absolute;
    color: #fff;
    font-size: 200px;
}

#left {
    width: 300px;
    height: 300px;
    cursor: pointer;
    transition: 0.5s;

}

#left:hover {
    transform: translateX(-30px);
    transform: translateY(-30px);
    
}

#right {
    width: 300px;
    height: 300px;
    cursor: pointer;
    transition: 0.5s;
}

#right:hover {
    transform: translateX(-30px);
    transform: translateY(-30px);
    
}

.carouserl {
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentbox {
    position: relative;
    width: 700px;
    height: 750px;
    margin: 0px 200px;
}

.content {
    width: 700px;
    height: 700px;
    background-color: #a06f6f;
    margin: 16px 0px;
}

.img {
    position: absolute;
    width: 700px;
    height: 700px;

}

.dotsbox {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dots {
    width: 18px;
    height: 18px;
    border-radius: 50px;
    margin-left: 18px;
    cursor: pointer;
    background-color: #c0c4b2;
    transition: 0.3s;
}

.active,
.dots:hover {
    background-color: #e7c321;
    border-radius: 0px;
}